﻿<div class="jumbotron">
    <h1>Gallery Sample</h1>
    <p class="lead">A sample application that scrapes and parses HTML content.</p>
</div>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-xs-8">
            <input class="input-lg form-control" type="text" ng-model="defaultUrl" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4" style="text-align:center;">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="getPage(defaultUrl)">Fetch!</button>
        </div>
    </div>
</form>

<div class="row" ng-cloak="true">
    <div class="col-md-10">
        <uib-alert ng-show="hasError" type="danger" ng-bind="status"></uib-alert>

        <div ng-show="progress" class="col-md-12">
            <img src="~/Static/circle-loading-animation.gif" style="margin:auto;height:200px;display:block;" />
        </div>
    </div>
</div>

<div ng-show="showResults" ng-cloak="true">
    <div class="row">
        <div class="col-md-8">
            <uib-carousel no-wrap="noWrapSlides">
                <uib-slide ng-repeat="image in images track by $index">
                    <img ng-src="{{image}}" style="margin:auto;height:400px;" />
                </uib-slide>
                <p ng-hide="images.length" style="margin:auto;display:block;">No images :(</p>
            </uib-carousel>
        </div>
        <div class="col-md-3 col-md-push-1">
            <h2>Page Statistics</h2>
            <p ng-bind-template="Total words: {{wordCount}}"></p>
            <p ng-bind-template="Process time: {{timeElapsed}}s"></p>

            <h2>Top 10 Words</h2>
            <table class="table table-striped table-bordered condensed">
                <thead>
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tr ng-repeat="word in top10Words">
                    <td>{{word.m_Item1}}</td>
                    <td>{{word.m_Item2}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>