﻿<!DOCTYPE html>
<html ng-app="ScrapeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/ScrapeApp")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Gallery Sample", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://bitbucket.org/nevnet/gallery" target="_blank">Release notes</a></li>
                    <li><a href="https://bitbucket.org/nevnet/gallery/src" target="_blank">View source</a></li>
                    <li><a href="https://bitbucket.org/nevnet/gallery/get/master.zip">Download source</a></li>
                    <li><a href="http://gallery.nevnetinteractive.com/release-1.0.0.zip">Download release</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" ng-controller="ScrapeController">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
